<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>W chat</title>
        <style>*{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
.box {
    position: absolute;
    border: 5px solid black;
    margin: 0px;
    border-radius: 10px;
    background-color: gray;
}
#topbox {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%-24px;
    font-size:70px;
}
button {
    border: 3px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}
button:hover {
    background-color: rgb(234, 234, 234);
}
#topbox button {
    position: absolute;
    margin: 10px;
    top: 0px;
    height: 80px;
    width: 200px;
    font-size: 30px;
}
#post {
    position: fixed;
    right: 45%;
    left: 45%;
    bottom: 10px;
    font-size: 50px;
}
#chatj {
    right: 220px;
}
#si {
    right: 10px;
}

#leftbox {
    top: 120px;
    bottom: 10px;
    left: 0;
    right: 50%;
    overflow-y: scroll;
}
#rightbox {
    top: 120px;
    bottom: 10px;
    right: 0;
    left: 50%;
    overflow-y: scroll;
}
#middlebox {
    top: 120px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow-y: scroll;
}
.post {
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
form input {
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 20px;
}
form button {
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}
.red {
    color: red;
}
.hidden {
    display: none;
}
#bigpost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.tmessage {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(38, 0, 255);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    right:0;
}
.omessage {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    left:0;
}
.contact {
    border: 5px solid black;
    border-radius: 20px;
    background-color: lightgray;
    margin: 2.5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    
    cursor: pointer;
}
#contacts {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    overflow-y: scroll;
}
#messages {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0px;
    overflow-y: scroll;
}</style>
        <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/EhogGawlic/w-chat/refs/heads/main/public/favicon.png">
    </head>
    <body>
        <div class = "box" id="topbox">W CHAT <button id="chatj" style="height: 80px;">Join chat</button><button id="si" style="height: 80px;">Sign in</button></div>
        <div class = "box" id="leftbox"> <span id="usr" style="display: none;">Logged in as <%= usr %> <button onclick="window.location = '/user:name=<%= usr %>'">Go to user page</button></span>
            <div id="posts"><%- posts %></div>
        </div>
        <div class = "box" id="rightbox"> 
            <!--messages (private)-->
            <!--tabs for groups/people-->
            
            <div class="box" id="contacts">
                igno<br>re<br>this<br>is<br>a<br>work<br>in<br>prog<br>ress<br><br>
                <%- contacts %>
            </div>
            <div class="box" id="messages">

            </div>
         </div><button id="post" style="height: 80px;display: none;">+</button>
        <script>
            function imageifydriveimg(url){
                //https://drive.google.com/file/d/11VC7HFQjrrguIDUvN0lWJx4HA393CW0E/view?usp=sharing
                const id = url.split('/d/')[1].split('/view')[0];
                return `https://drive.google.com/thumbnail?id=${id}&sz=w320-h320`;
            }
            setInterval(()=>{
                const posts = fetch('/allposts', {
                    method: 'GET',
                }).then(res => res.text()).then(data => {
                    document.getElementById("posts").innerHTML = data
                });
            }, 5000);
            document.getElementsByClassName("contact").onclick = function() {
                const messages = fetch('/messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({contact: this.id})
                }).then(res => res.text()).then(data => {
                    document.getElementById("messages").innerHTML = data
                });
            };
            document.getElementById("chatj").onclick = function() {
                window.location.href = "/chatjoin";
            };
            document.getElementById("si").onclick = function() {
                window.location.href = "/signin";
            };
            if (<%= loggedin %>) {
                document.getElementById("post").style.display = "block";
                document.getElementById("usr").style.display = "block";
            }
            document.getElementById("post").onclick = function() {
                window.location.href = "/post";
            };
            document.querySelectorAll('.post').forEach(post => {
                post.style.cursor = 'pointer';
                    const id = parseInt(post.id);
                    console.log("id"+id)
                post.onclick = function() {
                    console.log( `/post:id=${id}`)
                    window.location.href = `/post:id=${id}`;

                };
            });
        </script>
    </body>

</html>

