<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>W chat</title>
        <style>*{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
.box {
    position: absolute;
    border: 5px solid black;
    margin: 0px;
    border-radius: 10px;
    background-color: gray;
}
#topbox {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%-24px;
    font-size:70px;
}
button {
    border: 3px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}
button:hover {
    background-color: rgb(234, 234, 234);
}
#topbox button {
    position: absolute;
    margin: 10px;
    top: 0px;
    height: 80px;
    width: 200px;
    font-size: 30px;
}
#post {
    position: fixed;
    right: 50%;
    left: 40%;
    bottom: 10px;
    font-size: 50px;
}
#chatj {
    right: 220px;
}
#si {
    right: 10px;
}

#leftbox {
    top: 120px;
    bottom: 10px;
    left: 0;
    right: 50%;
    overflow-y: scroll;
}
#rightbox {
    top: 120px;
    bottom: 10px;
    right: 0;
    left: 50%;
    overflow-y: scroll;
}
#middlebox {
    top: 120px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow-y: scroll;
}
.post {
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
form input {
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 20px;
}
form button {
    border: 3px solid black;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}
.red {
    color: red;
}
.hidden {
    display: none;
}
#bigpost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid black;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.tmessage {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(38, 0, 255);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    right:0;
}
.omessage {
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    left:0;
}
.contact {
    border: 5px solid black;
    border-radius: 20px;
    background-color: lightgray;
    margin: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    
    cursor: pointer;
}
#contacts {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    overflow-y: scroll;
    border: 1px solid black;
}
#messages {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 50px;
    overflow-y: scroll;
    border: 1px solid black;
}

#chatinp { 
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 50px;
    border-top: 3px solid black;
    background-color: lightgray;
}
#newchatbox{
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
}


</style>
        <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/EhogGawlic/w-chat/refs/heads/main/public/favicon.png">
    </head>
    <body>
        <audio id="btnclick" class="hidden">
            <source src="https://raw.githubusercontent.com/EhogGawlic/w-chat/refs/heads/main/public/click.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class = "box" id="topbox">W CHAT <button id="chatj" style="height: 80px;">Join chat</button><button id="si" style="height: 80px;">Sign in</button></div>
        <div class = "box" id="leftbox"> <span id="usr" style="display: none;">Logged in as <%= usr %> <button onclick="window.location = '/user:name=<%= usr %>'">Go to user page</button></span>
            <div id="posts"><%- posts %></div>
        </div>
        <div class = "box" id="rightbox"> 
            <!--messages (private)-->
            <!--tabs for groups/people-->
            
            <div class="box" id="contacts">
                <%- contacts %>
            </div>
            <div class="box" id="messages">
            </div>
            <div id="chatinp">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="chatinput" multiple placeholder="Type a message...">
                <button id="chatsend">Send</button>
            </div>
         </div><button id="post" style="height: 80px;display: none;">+</button>
        <div class="box" id="newchatbox" style="display: none;">
            <form id="newchatform">
                Create new chat with: <input type="text" id="newchatnames" placeholder="username1, username2, ...">
                <button type="button" id="adduser">Add user</button><br>
                Users:
                <ul id="ncusers"></ul><br>
                <button type="submit" id="cchatbtn">Create</button>
            </form>
        </div>
        <script>
            //phone mode
            Array.from(document.querySelectorAll('button')).forEach(btn => {
                btn.addEventListener("click", ()=> {
                    document.getElementById("btnclick").play();
                })
            });
            if (innerHeight>innerWidth){
                    document.getElementById("leftbox").style.right = "0";
                    document.getElementById("leftbox").style.bottom = "50%";
                    document.getElementById("rightbox").style.left = "0";
                    document.getElementById("rightbox").style.top = "50%";
                    document.getElementById("rightbox").style.bottom = "0";
                    document.getElementById("rightbox").style.right = "0";
                } else {
                    document.getElementById("leftbox").style.right = "50%";
                    document.getElementById("leftbox").style.bottom = "10px";
                    document.getElementById("rightbox").style.left = "50%";
                    document.getElementById("rightbox").style.top = "120px";
                    document.getElementById("rightbox").style.bottom = "10px";
                    document.getElementById("rightbox").style.right = "0";
                }
            window.onresize = function(){
                if (innerHeight>innerWidth){
                    document.getElementById("leftbox").style.right = "0";
                    document.getElementById("leftbox").style.bottom = "50%";
                    document.getElementById("rightbox").style.left = "0";
                    document.getElementById("rightbox").style.top = "50%";
                    document.getElementById("rightbox").style.bottom = "0";
                    document.getElementById("rightbox").style.right = "0";
                } else {
                    document.getElementById("leftbox").style.right = "50%";
                    document.getElementById("leftbox").style.bottom = "10px";
                    document.getElementById("rightbox").style.left = "50%";
                    document.getElementById("rightbox").style.top = "120px";
                    document.getElementById("rightbox").style.bottom = "10px";
                    document.getElementById("rightbox").style.right = "0";
                }
            }

            function imageifydriveimg(url){
                //https://drive.google.com/file/d/11VC7HFQjrrguIDUvN0lWJx4HA393CW0E/view?usp=sharing
                const id = url.split('/d/')[1].split('/view')[0];
                return `https://drive.google.com/thumbnail?id=${id}&sz=w320-h320`;
            }
            let currentContact = localStorage.getItem("currentContact") || null;
            if (currentContact) {
                fetch('/messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({contact: currentContact})
                }).then(res => res.text()).then(data => {
                    document.getElementById("messages").innerHTML = data
                    setTimeout(()=>{
                        const messagesDiv = document.getElementById("messages");
                        messagesDiv.scrollTop = messagesDiv.scrollHeight;
                    }, 2000)
                });
            }
            setInterval(()=>{
               /* fetch('/messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({contact: currentContact})
                }).then(res => res.text()).then(data => {
                    document.getElementById("messages").innerHTML = data
            });*/
                });
                fetch('/allposts', {
                    method: 'GET',
                        credentials: 'include'
                }).then(res => res.text()).then(data => {
                    document.getElementById("posts").innerHTML = data
                    document.querySelectorAll('.post').forEach(post => {
                    post.style.cursor = 'pointer';
                        const id = parseInt(post.id);
                        console.log("id"+id)
                    post.onclick = function() {
                        console.log( `/post:id=${id}`)
                        window.location.href = `/post:id=${id}`;

                    };
                });
            }, 10000);
            Array.from(document.getElementsByClassName("contact")).forEach(contact=>{
            contact.onclick = function() {
                if (this.id === "newc") {
                    let names = ["<%= usr %>"]
                    document.getElementById("newchatbox").style.display = "block";
                    document.getElementById("adduser").onclick = function() {
                        const newname = document.getElementById("newchatnames").value.trim();
                        if (newname === '' || names.includes(newname)) return;
                        names.push(newname);
                        const li = document.createElement("li");
                        li.textContent = newname;
                        document.getElementById("ncusers").appendChild(li);
                        document.getElementById("newchatnames").value = '';
                    };
                    document.getElementById("newchatform").onsubmit = function(e) {
                        e.preventDefault();
                        document.getElementById("newchatbox").style.display = "none";
                        const cname = prompt("Enter a name for the chat (optional):");
                        if (cname === null) return;
                        fetch('/newchat', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            credentials: 'include',
                            body: JSON.stringify({contacts: names, cname})
                        }).then(res => res.text()).then(data => {
                            if (data.startsWith("Error:")) {
                                alert(data);
                                return;
                            }
                            alert("yay! chat created, reloading to show it");
                            location.reload();
                        });
                    }
                    return;
                }
                fetch('/messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({contact: this.id.slice(7)})
                }).then(res => res.text()).then(data => {
                    document.getElementById("messages").innerHTML = data
                    currentContact = this.id.slice(7)
                    localStorage.setItem("currentContact", currentContact);
                    setTimeout(()=>{
                        const messagesDiv = document.getElementById("messages");
                        messagesDiv.scrollTop = messagesDiv.scrollHeight;
                    }, 2000)
                });
            }});
            document.getElementById("chatsend").onclick = function() {
                const message = document.getElementById("chatinput").value
                if(message.trim() === '') return;
                fetch('/sendmessage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify({message: message, contact: currentContact})
                }).then(res => res.text()).then(data => {
                    document.getElementById("messages").innerHTML = data
                    document.getElementById("chatinput").value = ''
                });
            };
            document.getElementById("chatj").onclick = function() {
                window.location.href = "/chatjoin";
            };
            document.getElementById("si").onclick = function() {
                window.location.href = "/signin";
            };
            if (<%= loggedin %>) {
                document.getElementById("post").style.display = "block";
                document.getElementById("usr").style.display = "block";
            }
            document.getElementById("post").onclick = function() {
                window.location.href = "/post";
            };
            document.querySelectorAll('.post').forEach(post => {
                post.style.cursor = 'pointer';
                    const id = parseInt(post.id);
                    console.log("id"+id)
                post.onclick = function() {
                    console.log( `/post:id=${id}`)
                    window.location.href = `/post:id=${id}`;

                };
            });
        </script>
    </body>

</html>

